<%- include('templates/encabezado')%>
<style>
.body{
        display: flex;
  flex-direction: column;
}
.centrar-verticalmente{
margin-top: 5%;
left: 50%;

}
</style>
<body class="text-center card  body" style="align-items: center; height: 100vh;">
        <div class="centrar-verticalmente">

        
        <div class="card-body" style="align-items: center;width: 332px;height: 432px;">
                <main class="form-signin w-100 m-auto">
                  <form>
                    <img class="mb-4" src="#" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>
                    <div class="card-body"> 
                        <input class="form-control mb-3" type="text" name="numEmpleado" id="numEmpleado" placeholder="Numero de Empleado">
                        <input class="form-control mb-3" type="text" name="userName" id="userName" placeholder="Usuario">
                             
                        <a class="btn btn-primary col-12 mb-3 mt-3" href="/login">Iniciar sesion</a>
                    </div>
                  </form>
                </main>
        </div>
</div>
</body>

<%- include('templates/pie')%>