<%- include('templates/encabezado')%>
<%- include('templates/menu')%>
<div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                    <div class="card-header">
                        <h1>Bienvenido</h1>
                    </div>
                         <div class="card-body"> 
                         <table class="table">
                                <a class="btn btn-primary col-12 mb-3 mt-3" href="/login">Iniciar sesion</a>
                        </div>
                </div>
        </div>
</div>
<%- include('templates/pie')%>