<%- include('templates/encabezado')%>
<%- include('templates/menu')%>
<div class="mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
                <div class="card-header">
                    <h1>Bienvenido</h1>
<%- include('templates/pie')%>