<%- include('templates/encabezado')%>
<%- include('templates/menuAdm')%>
<style>
.div{
    
    min-height:100vh;/*importante*/
    position: relative;
    margin-top: 0%;
    left: 0%;
    text-align: center;
}
</style>

<div class="div">
    <h1 align="center"> BIENVENIDO</h1>
  
  
    <p align="center">Pantalla principal, se mostrará una bievenida, uso de la app e intranet 
    
        <a href="http://10.15.11.12/intranet/#galleryvideo" target="_blank">Intranet</a>
    </p>
</div>
<%- include('templates/pie')%>