<%- include('templates/encabezado')%>

<style>
    .body{
        display: flex;
        flex-direction: column;
        color: white;
        /*background-image: url(../images/Picture3.png) ;*/
        background: linear-gradient(160deg, #070707, #938413);
        background-size:cover;
        background-repeat: no-repeat;
        align-items: center;
        height: 100%;
        width: 100%;        
    }
    .centrar-verticalmente{
    margin-top: 25%;
    left: 50%;
    background: linear-gradient(160deg, #070707, #938413);
    box-shadow: 1px 1px 4px 2px rgb(69, 67, 67);
    opacity: 0.9;
    border-radius: 20px;
    
    }
    .zelda{
      border-radius: 15px;
      
    }
    .div{
      min-height:99vh;/*importante*/
      position: relative;
      
    }
    .img{
      width: 50%;
      height: 50%;
      
    }
    
    </style>
    <body class="text-center card  body">
      <div class="div">
        <div class="centrar-verticalmente">
            <div class="card-body" style="align-items: center;width: 332px;height: 432px;">
                    <main class="form-signin w-100 m-auto">
                      <form>
                        <img class=" img" src="../images/logo.png">
                        <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>
                        
                        <div class="card-body"> 
                            <div class="card-body">
                                <!--id del objeto que se usara en .js-->
                                <input class="form-control mb-3 zelda" type="text" name="usuarioLogin" id="usuarioLogin" placeholder="Usuario">
                                <input class="form-control zelda" type="password" name="passwordLogin" id="passwordLogin" placeholder="Contraseña">
                            <div class="mt-4"></div>
                                <button class="btn mt-3 col-12 mb-3 zelda" style="background-color: #E88100; color: white;" type="submit">Iniciar sesión</button>
                                
                            </div>
                        </div>
                      </form>
                    </main>
            </div>
    </div>
      </div>
            
    </body>
<%- include('templates/pie')%>