<nav class="customClass navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
  <style>
              .customClass {
                width: auto;
                font-family: Roboto, "Helvetica Neue", sans-serif;
                  background-color: rgb(26, 26, 26) !important;
                  min-height:13vh;/*importante*/
              }
             
  </style>
    <div class="container-fluid "  >
      <img src="#" width="66px" height="50px" alt="">
    </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/InicioAdmin">Inicio</a>
          </li>
          <!--Dropdown Inventario-->
          <li class="dropdown">
            <a class="nav-link active dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Inventario
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Equipos de computo</a></li>
              <li><a class="dropdown-item" href="#">Celulares</a></li>
              <li><a class="dropdown-item" href="#">Tablets</a></li>
              <li><a class="dropdown-item" href="#">Accesorios</a></li>
            </ul>
          </li>
          <!-- Usuarios-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Usuarios</a>
          </li>
            
          <!--Dropdown Catalogos-->
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catalogos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Desarrollos</a></li>
              <li><a class="dropdown-item" href="#">Aplicaciones</a></li>
              <li><a class="dropdown-item" href="#">Carpetas compartidas</a></li>
            </ul>
          </li>
          <!--Dropdown Accesos-->
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accesos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Acceso a Desarrollos</a></li>
              <li><a class="dropdown-item" href="#">Accesos a Apliciones</a></li>
              <li><a class="dropdown-item" href="#">Accesos a Carpetas compartidas</a></li>
            </ul>
          </li>
        
      </div>
    </div>
  </nav>